// Breakpoints
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1200px;
$extra-large-screen: 1600px;

//Color-palette
$black: #66615B;
$grey: #8c8c8c;
$light-grey: #ccc;
$white: #fff;
$yellow: #ff0;
$green: #8bc34a;
$blue: #29d2e4;
$orange: #f87d09;
$dark-pink: #e91e63;
$purple: #9c27b0;
$light-purple: #efedff;

//Added color
$light-black: #566166;
$extra-light-grey: #f8f8f8;

// Base-colors
$base-color: $light-black;
$brand-color: $orange;
$secondary-color: $grey;
$text_color: $base-color;
$link_color: $dark-pink;

//Body
$base-background: $light-grey;

//Buttons
//Buttons-Types
$button-primary-bg-color: $black;
$button-info-bg-color: $blue;
$button-danger-bg-color: $dark-pink;
$button-warning-bg-color: $orange;
$button-success-bg-color: $green;

//Buttons-Size
$button-padding-vertical: 10px;
$button-padding-horizontal: 15px;

// Typography
$font-Regular: "OpenSansRegular";
$font-Light: "OpenSansLight";
$font-Bold: "OpenSansBold";
$base-font: $font-Regular;

// Font Sizes
$base-font-size: 14px;

// Line height
$base-line-height: 1.5;

// Other Sizes
$base-border-radius: 4px;

// Header
$header-height: 100px;
$header-background-color: $brand-color;

// Footer
$footer-height: 200px;
$footer-background-color: #aaa;

// Border
$base-border-color: $base-color;
$base-border: 1px solid $base-border-color;

//Past-Event-Header
$past-header-background: $extra-light-grey