.main-wrapper {
  position: relative;
  transition: all 1s ease-in-out;
}

.section-banner {
  height: 80vh;
  background-image: radial-gradient(circle at 50% 0, #fcfcfc, #f8f8f8);
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  z-index: 5;
  transition: all 1s ease-in-out;
  display: table;
}

.logo-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 2;
  transition: all 1s ease-in-out;
  > div {
    display: inline-block;
    transition: all 1s ease-in-out;
  }
  @include e('inner') {
    @include size(64px);
    border: solid 12px #556166;
    margin: 0 auto;
    padding: 20px;
    transition: all 1s ease-in-out;
    span {
      font-family: $font-Bold;
      font-size: 32px;
      display: block;
      word-wrap: break-word;
      line-height: 25px;
      letter-spacing: 1px;
      text-align: center;
      border-bottom: 6px solid #f67534;
      padding-bottom: 8px;
    }
  }
  strong {
    display: inline-block;
    transform: rotateY(180deg);
  }
  @include e(sub-title) {
    @include font-size(12px);
    transition: all 1s ease-in-out;
    span {
      font-family: $font-Bold;
    }
  }
}

.banner-arrow-block {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  text-transform: uppercase;
  font-family: $font-Bold;
  @include font-size(12px);
  padding: 15px 10px;
  z-index: 2;
  p {
    margin: 0;
    display: inline-block;
    position: relative;
    &:before {
      content: '';
      width: 12px;
      height: 14px;
      display: block;
      position: absolute;
      top: -1px;
      left: -17px;
      background: url('../img/rotate-right.svg') no-repeat;
    }
  }
}

.arrow-wrap {
  display: inline-block;
  padding-top: 2px;
  color: #556166;
  &:hover, &:focus {
    color: darken(#556166, 10%);
  }
  .arrow-icon {
    animation-delay: 3s;
    animation: arrows 2.8s 0.4s;
    border: 2px solid #556166;
    border-top: transparent;
    border-right: transparent;
    display: block;
    @include size(10px);
    margin: 0 auto;
    transform: rotate(-45deg);
  }
}