.past-event {
  background: $past-event-section-background;
  padding-top: 30px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap-reverse;
}

.past-event__list {
  text-align: center;
}

.past-event__year {
  color: rgba($white, 0.2);
  font: normal 100px $font-Bold;
  margin-left: -24px;
}

.past-event__block {
  margin-top: -44px;
}

.past-event__blocklist {
  margin-bottom: 72px;
  &:nth-of-type(2n) {
    flex-direction: row-reverse;
    padding-right: 0;
    .past-event__image {
      margin-left: -190px;
    }
    .past-event__summary {
      margin-left: 0;
      justify-content: flex-end;
    }
  }
}

.past-event__image {
  background-color: #bf8b38;
  overflow: hidden;
  position: relative;
  picture {
    background-image: radial-gradient(circle at 50% 0, rgba(255, 196, 34, 0.78), rgba(255, 85, 0, 0.78));
    img {
      opacity: 0.2;
      width: 100%;
    }
  }
}

//summary
.past-event__summary {
  margin-top: -168px;
  position: relative;
  padding: 0 14px;
  h2 {
    color: $white;
    font: 24px $font-Bold;
    margin: 0;
  }
  .date-block {
    margin: 12px 0 8px;
  }
}

.past-event__info {
  .text {
    margin-top: 10px;
  }
  .ghost-button {
    margin-top: 20px;
  }
}

@media all and (min-width: 420px) {
  .past-event__image {
    height: 240px;
  }
}

@media all and (min-width: 600px) {
  .past-event__image {
    height: 290px;
  }
}

@media all and (min-width: 768px) {
  .past-event__list {
    text-align: left;
    width: 100%;
  }

  .past-event__year {
    font: normal 200px $font-Bold;
  }

  .past-event__image {
    height: 330px;
    width: 55%;
  }

  .past-event__block {
    margin-top: -80px;
  }

  .past-event__info {
    margin-left: 16px;
  }

  .past-event__blocklist {
    display: flex;
    align-items: center;
    padding-right: 40px;
    width: 100%;
    box-sizing: border-box;
    &:nth-of-type(2n) {
      padding-left: 40px;
    }
  }

  .past-event__summary {
    display: flex;
    margin: 0 0 0 -190px;
    padding: 0;
    width: calc(45% + 190px);
    h2 {
      font: 30px $font-Bold;
    }
    .date-block {
      //&:first-of-type {
      //  margin-left: -180px;
      //}
      //&:only-of-type {
      //  margin-left: 0!important;
      //}
    }
  }
}

@media all and (min-width: 768px) and (max-width: 900px) {
  .past-event__image picture img {
    height: 100%;
    max-width: inherit !important;
  }
}

@media all and (min-width: 900px) {
  .past-event__summary h2 {
    font: 38px/46px $font-Bold;
  }
}

@media all and (min-width: 1200px) {
  .past-event__image {
    height: 450px;
  }

  .past-event__summary h2 {
    font: 42px/50px $font-Bold;
  }
}

//@media all and (min-width: 1200px) {
//  .past-event__summary {
//    width: 60vw;
//  }
//}
