.past-event-section {
  background: $past-event-section-background;
  padding-top: 30px;
  overflow: hidden;
}

.year {
  font: normal 200px $font-Bold;
  color: rgba($white, 0.2);
}

.past-event-image {
  width: 60vw;
  height: 60vh;
  float: left;
  position: relative;
  &:after {
    content: "";
    background-image: radial-gradient(circle at 50% 0, rgba(255, 196, 34, 0.78), rgba(255, 85, 0, 0.78));
    @include position(absolute,0);
    @include size(100%);
  }
}

//summary
.past-event-summary h2 {
  font: 42px $font-Bold;
  color: $white;
}