.past-event-header {
  background: $past-header-background;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 21px 30px;
  transition: all 0.5s ease-in-out;
  z-index: 4;
  @include e('inner') {
    font-family: $font-Bold;
    @include font-size(12px);
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    span {
      display: inline-block;
      position: relative;
      &:before {
        content: '';
        width: 12px;
        height: 11px;
        display: block;
        position: absolute;
        top: 3px;
        left: -20px;
        background: url('../img/history.svg') no-repeat;
      }
    }
  }
  a {
    color: #556166;
    &:hover, &:focus {
      color: darken(#556166, 10%);
    }
  }
  &.top {
    background: none;
    box-shadow: none;
  }
}

.active {
  .past-event-header {
    height: 0;
    padding: 0;
    top: 40px;
    left: 0;
    right: 0;
    bottom: auto;
    margin: 0 auto;
    background: none;
    text-align: center;
    transition: all 0.5s ease-in-out;
    @include e(inner) {
      text-align: center;
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: 480px) {
  body.sticky-header {
    .banner-arrow-block {
      bottom: 8px;
    }
  }
  .active {
    .past-event-header {
      padding: 21px 30px;
      top: 15px;
      left: auto;
      background: none;
      @include e(inner) {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body.sticky-header {
    .banner-arrow-block {
      bottom: 25px;
    }
  }

  .past-event-header {
    @include e(inner) {
      text-align: right;
    }
  }

  .active {
    .past-event-header {
      top: 42px;
    }
  }
}

