.section-slider {
  position: relative;
  height: 100vh;
  > div {
    height: 100%;
  }
  .container {
    position: absolute;
    transform: translateY(-50%);
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    @include e (inner) {
      max-width: 560px;
      margin: auto;
      h1 {
        color: $white;
        font-family: $font-Bold;
        @include font-size(72px);
        line-height: 1.32;
        margin: 0 0 15px;
      }
    }
  }
}

.carousel {
  &.carousel-slider, .slider {
    height: 100%;
  }
  .slide {
    background: #bf8b38;
    > figure {
      height: 100%;
      > div {
        background-image: radial-gradient(circle at 50% 0, rgba(255, 196, 34, 0.78), rgba(255, 85, 0, 0.78));
        height: 100%;
        img {
          opacity: 0.22;
        }
      }
    }
  }
}

.slider-wrapper.axis-horizontal {
  height: 100%;
}

@media only screen and (min-width: 960px) {
  .carousel .control-dots {
    bottom: 70px;
  }
}

