.section-slider {
  background-color: #cb9d2e;
  position: relative;
  height: 90vh;
  transition: all 1s ease-in-out;
  z-index: 1;
  > div {
    height: 100%;
  }
  .container {
    position: absolute;
    transform: translateY(-50%);
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    @include e (inner) {
      max-width: 640px;
      margin: auto;
      h1 {
        color: $white;
        font-family: $font-Bold;
        font-size: responsive;
        min-font-size: 24px;
        max-font-size: 72px;
        lower-font-range: 320px;
        upper-font-range: 1280px;
        line-height: 1.32;
        margin: 0 0 15px;
      }
    }
  }
  > p {
    color: rgba(255,255,255,0.5);
    font-size: 24px;
    font-style: italic;
    left: 50%;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 84%;
  }
}

.carousel {
  &.carousel-slider, .slider {
    height: 100%;
  }
  .slide {
    background: rgba(255, 85, 0,1);
    > figure {
      height: 100%;
      > div {
        background-image: radial-gradient(circle at 50% 0, rgba(255, 196, 34, 0.78), rgba(255, 85, 0, 0.78));
        height: 100%;
        img {
          opacity: 0.22;
        }
      }
    }
  }
}

.carousel {
  .control-dots {
    bottom: 94px;
    z-index: 4;
  }
}

.slider-wrapper.axis-horizontal {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .section-slider {
    height: 84vh;
  }
}
